<div class="container my-5">
    <div class="card text-center mx-auto" style="max-width: 600px;">
        <div class="card-body">
            <h1>500 Server Error</h1>
            <a href="/" class="btn btn-lg btn-primary w-100">Go to Home</a>
        </div>
    </div>
</div>